ffmpeg-python==0.2.0
matplotlib==3.5.3
numpy==1.23.2
opencv-python==4.5.4.60
pandas==2.0.3
pytorch_lightning==2.0.6
scipy==1.9.0
scikit-image==0.19.3
scikit-learn==1.1.2
timm==0.9.10
torch==2.0.1
torchaudio==2.0.2
torchmetrics==1.0.1
torchvision==0.15.2
